extend ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/formSearch.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug

block main 
    .main
        h1 Trang sản phẩm

        .card.mb-3 
            .card-header Bộ lọc và Tìm kiếm 
            .card-body 
                .row 
                    .col-6
                        +filterStatus(filterStatus)
                    .col-6 
                        +formSearch(keyword)                        

        .card.mb-3
            .card-header Danh sách sản phẩm 
            .card-body
                +formChangeMulti(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                table(
                    class="table table-hover table-sm align-middle"
                    checkbox-multi
                ) 
                    thead 
                        tr 
                            th 
                                input(
                                    type="checkbox"
                                    name="checkall"
                                )
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Trạng thái
                            th Hành động 

                    tbody 
                        if (products.length === 0)
                            tr 
                                td(colspan="6") Không tìm thấy sản phẩm 
                        else 
                            -for(let i = 0; i < products.length; i++)
                                tr 
                                    td
                                        input(
                                            type="checkbox"
                                            name="id"
                                            value=products[i].id
                                        )
                                    td #{i + 1}
                                    td 
                                        img(
                                            src=products[i].thumbnail
                                            height="auto"
                                            alt="Sản phẩm"
                                        ).productImg
                                    td= products[i].title
                                    td $#{products[i].price} 
                                    if (products[i].status === "active")
                                        td 
                                            a(
                                                href="javascript:;"
                                                data-status="active"
                                                data-id=products[i].id
                                                button-change-status
                                            ).activeStatus= products[i].status
                                    else    
                                        td
                                            a(
                                                href="javascript:;" 
                                                data-status="inactive"
                                                data-id=products[i].id
                                                button-change-status
                                            ).inactiveStatus= products[i].status
                                    td 
                                        button.btn.btn-primary.me-2 Sửa
                                        button.btn.btn-danger Xóa

        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`
        )


