extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/table-tree.pug

block main 
    .main
        if (role.permissions.includes("product-category_view"))
            h1 Danh mục sản phẩm

            .card.mb-3
                .card-header Danh mục sản phẩm 
                    .card-body
                        .row
                            .col-8
                            .col-4
                                if (role.permissions.includes("product-category_create"))
                                    a(
                                        href=`${prefixAdmin}/products-category/create`
                                        class="btn btn-outline-success"
                                    ) + Thêm mới

            table(
                class="table table-hover table-sm align-middle"
                checkbox-multi
            ) 
                thead 
                    tr 
                        th 
                            input(
                                type="checkbox"
                                name="checkall"
                            )
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody 
                    if (records.length === 0)
                        tr 
                            td(colspan="6") Không tìm thấy danh mục sản phẩm 
                    else 
                        +table-tree(records)                        
