mixin formChangeMulti(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-center.gap-1 
            .form-group     
                select(name="type" class="form-select" select-option)
                    option(disabled selected) -- Choose action -- 
                    option(value="active") Active
                    option(value="inactive") Inactive
                    option(value="deleteAll") Delete All
                    option(value="changePosition") Change position
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    hidden
                    class="form-control"
                    readonly
                )
            button(type="submit" class="btn btn-primary") Áp dụng