extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row.justify-content-center 
            h1(class="text-center") #{pageTitle}

            form(
                action="/user/password/otp"
                method="POST"
            )
                div(class="form-group")
                    label(for="email") Email *
                    input(
                        type="text"
                        class="form-control mt-2"
                        id="email"
                        name="email"
                        value=email
                        readonly
                    )    

                div(class="form-group")
                    label(for="otp") Mã OTP
                    input(
                        type="text"
                        class="form-control mt-2"
                        id="otp"
                        name="otp"
                        required
                    ) 

                div(class="form-group")
                    button(class="btn btn-primary mt-2" style="width: 100%;") Xác nhận
            
