extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row.justify-content-center 
            h1(class="text-center") #{pageTitle}

            form(
                action="/user/password/reset"
                method="POST"
            )
                div(class="form-group")
                    label(for="password") Mật khẩu mới
                    input(
                        type="password"
                        class="form-control mt-2"
                        id="password"
                        name="password"
                        required
                    )    

                div(class="form-group")
                    label(for="confirmPassword") Xác nhận mật khẩu
                    input(
                        type="password"
                        class="form-control mt-2"
                        id="confirmPassword"
                        name="confirmPassword"
                        required
                    )    

                div(class="form-group")
                    button(
                        class="btn btn-primary mt-2" 
                        type='submit' 
                        style="width: 100%;"
                    ) Đổi mật khẩu
            
