.col-3.d-sm-block.d-none 
    .sider
        ul.sidebarList 
            li.sidebarItem 
                a(href=`${prefixAdmin}/dashboard`).sidebarLink Tổng quan
            
            li.sidebarItem 
                a(href=`${prefixAdmin}/products-category`).sidebarLink Danh mục sản phẩm
            
            li.sidebarItem 
                a(href=`${prefixAdmin}/products`).sidebarLink Sản phẩm
           
            li.sidebarItem 
                a(href=`${prefixAdmin}/roles`).sidebarLink Nhóm quyền
           
            li.sidebarItem 
                a(href=`${prefixAdmin}/roles/permissions`).sidebarLink Phân quyền